* {

}

body {
    height: 95vh;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.frame {
    background-color: lightgray;
    outline: 3px solid black;
    display: flex;
    flex-direction: column;
}

.top {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
}

.touchpad {
    width: 400px;
    height: 400px;
    display: flex;
}

.left {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.top {
    display: flex;
}

.top_left {
    flex: 2;
    width: 180px;
    height: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.top_right {
    flex: 2;
    display: flex;


}

.top_left_up {
    display: flex;
}

.top_left_down {
    display: flex;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
}